header {
  position: relative;
  overflow: hidden;
  background-color: #060606;
}

header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: arc;
  font-size: 40px;
  color: white;
  /* background: -webkit-linear-gradient(-90deg, red, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  line-height: 8vh;
  padding-left: 60px;
}
